@model RequestsListViewModel

<section class="section itservice">
    <p class="count__requests">
        Всего заявок: @Model.PagingInfo.TotalItems
    </p>

    <div class="navigation-menu">
        <vc:navigation-menu />
    </div>

    <table class="table">
        <thead>
            <tr>
                <th class="table__id">
                    Номер заявки
                </th>
                <th class="table__created">
                    Заявка получена
                </th>
                <th class="table__name">
                    Имя
                </th>
                <th class="table__msg">
                    Описание
                </th>
                <th class="table__contacts">
                    Контакты
                </th>
                <th class="table__status">
                    Статус
                </th>
                <th class="table__action">
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Requests)
            {
                <tr>
                    <td class="table__id">
                        @item.Id
                    </td>
                    <td class="table__created">
                        @item.Created.ToString("dd.MM.yy HH:mm")
                    </td>
                    <td class="table__name">
                        @item.Name
                    </td>
                    <td class="table__msg">
                        @item.Message
                    </td>
                    <td class="table__contacts">
                        @item.Email
                    </td>
                    <td class="table__status">
                        @item.Status
                    </td>
                    <td class="table__action">
                        <a class="r__btn request__details btn btn__reset"
                           asp-action="Details"
                           asp-route-id="@item.Id">
                            Детали
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="paging__search__block">
        <div page-model="@Model.PagingInfo" page-action="Index"
             page-classed-enabled="true"
             page-class="btn" page-class-normal="btn-blue"
             page-class-selected="btn-blue-selected"
             page-url-status="@Model.CurrentStatus"
             class="paging-info btn-group pull-right">
        </div>

        <div page-model-search="@Model.CurrentStatus">

        </div>
    </div>
</section>