@model IEnumerable<SkillProfi.DAL.Models.Request>

<section class="section itservice">
    <p class="count__requests">
        Всего заявок: @Model.Count()
    </p>
    <table class="table">
        <thead>
            <tr>
                <th class="table__id">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th class="table__created">
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th class="table__name">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="table__msg">
                    @Html.DisplayNameFor(model => model.Message)
                </th>
                <th class="table__contacts">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th class="table__status">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th class="table__action">
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="table__id">
                        @item.Id
                    </td>
                    <td class="table__created">
                        @item.Created.ToString("dd.MM.yy HH:mm")
                    </td>
                    <td class="table__name">
                        @item.Name
                    </td>
                    <td class="table__msg">
                        @item.Message
                    </td>
                    <td class="table__contacts">
                        @item.Email
                    </td>
                    <td class="table__status">
                        @item.Status
                    </td>
                    <td class="table__action">
                        <a class="r__btn request__details btn btn__reset" 
                            asp-action="Details"
                            asp-route-id="@item.Id">
                            Детали
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>