@model IEnumerable<Blog>

<section class="section blogs">
    <h1 class="blogs__title">Блог</h1>

    <ul class="blogs__list list__reset flex">
        @foreach(Blog blog in Model)
        {
            <li class="blogs__item">
                <a class="flex blogs__item__link" asp-action="Details" asp-route-id="@blog.Id">
                    <p class="blogs__item__data">@blog.Created.ToString("dd.MMMM.yyyy")</p>

                    <img class="blogs__item__img" src="@blog.ImageUrl" />

                    <p class="blogs__item__title">@blog.Title</p>

                    <p class="blogs__item__shortdescr">
                        @blog.ShortDescription
                    </p>
                </a>

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="blogs__ico">
                        <a asp-controller="Blogs" asp-action="Edit" asp-route-id="@blog.Id">
                            <img class="blogs__ico__edit" src="~/img/ico-edit.png" />
                        </a>
                        <a asp-controller="Blogs" asp-action="Delete" asp-route-id="@blog.Id">
                            <img class="blogs__ico__del" src="~/img/ico-del.png" />
                        </a>
                    </div>
                }
            </li>
        }
    </ul>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="blogs__btn__add">
            <a class="btn btn__reset r__btn" asp-controller="Blogs" asp-action="Create">Добавить блог</a>
        </div>
    }
</section>