@model SkillProfi.Web.ViewModels.ProjectViewModel
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h4>Проект</h4>
<hr />
<section class="section project">
    <form method="post" asp-action="Edit" enctype="multipart/form-data">
        <input asp-for="@Model.Id" hidden />
        <input asp-for="@Model.ImageUrl" hidden />
        <div class="project__create">
            <div class="upload">
                <img class="form-group" src="@Model.ImageUrl.Remove(0, 1)" />
                <p>Изменить картинку</p>
                <div class="form-group">
                    <label class="label">
                        <i class="material-icons">attach_file</i>
                        <span class="title">Добавить файл</span>
                        <input asp-for="@Model.File" type="file" accept=".png,.jpg,.jpeg" id="file">
                    </label>
                    <div class="upload__img__preview">
                        <span id="output" class="img__preview"></span>
                    </div>
                </div>
            </div>
            <div>
                <dl class="attrs">
                    <dt>
                        Название проекта
                    </dt>
                    <dd>
                        <input class="form__project__title" asp-for="@Model.Title" required maxlength="50" />
                    </dd>
                    <dt>
                        Описание проекта
                    </dt>
                    <dd>
                        <textarea class="textarea__descr" asp-for="@Model.Description" required></textarea>
                    </dd>
                </dl>
            </div>
        </div>
        <div>
            <button class="r__btn request__edit btn btn__reset" type="submit">
                Изменить
            </button>
            <a class="r__btn request__back btn btn__reset" asp-action="Index">Назад</a>
        </div>
    </form>
</section>

<script>
    function handleFileSelect(evt) {
        var file = evt.target.files; // FileList object
        var f = file[0];
        // Only process image files.
        if (!f.type.match('image.*')) {
            alert("Image only please....");
        }
        var reader = new FileReader();
        // Closure to capture the file information.
        reader.onload = (function (theFile) {
            return function (e) {
                var label = document.querySelector('.label')
                label.style.display = 'none'
                // Render thumbnail.
                var span = document.createElement('span');
                span.innerHTML = ['<img class="thumb" title="', escape(theFile.name), '" src="', e.target.result, '" />'].join('');
                document.getElementById('output').insertBefore(span, null);
            };
        })(f);
        // Read in the image file as a data URL.
        reader.readAsDataURL(f);
    }
    document.getElementById('file').addEventListener('change', handleFileSelect, false);
</script>